<div class="container">
  <ul>
    <li *ngFor='let goal of goals'>
      <label for="">Posted by {{goal.Postby}}</label>
      <br>
      <label for="quote">{{goal.Quote}} by {{goal.Author}}</label>
      <br>
      <button type="submit" name="button" class="btn btn-success">Upvote</button>
      <button type="submit" name="button" class="btn btn-primary">Downvote</button>
      <br><br>
      <button type="submit" name="button" class="btn btn-danger">Delete Quote</button>
    </li>
  </ul>
</div>
