<form>
  <div class="form-group">
    <label for="">Posted By</label><br>
    <input type="text" name="Postby" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="">Quote</label><br>
    <textarea name="Quote" rows="8" cols="50" class="form-control" required></textarea>
  </div>
  <div class="form-group">
    <label for="">Author Name</label><br>
    <input type="text" name="Author" class="form-control" required>
  </div>
  <br>
  <button type="submit" name="submit" class="btn btn-primary">Post Quote</button>
</form>
